{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "CathedrAll": "Host=localhost;Port=5432;Database=cathedrall;Username=cathedrall;Password="
  },
  "CurrentUser": {
    "Id": "11111111-1111-1111-1111-111111111111",
    "Papel": "Pastor"
  }
}
